<!DOCTYPE HTML>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Wuud - Furniture Store Website HTML5 Template | Contact</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Description website">
    <meta name="author" content="Maksym Blank">
    <meta name="keywords" content="website, with, meta, tags">
    <meta name="robots" content="noindex, follow">
    <meta name="revisit-after" content="5 month">
    <meta name="image" content="../../../../mywebsite.com/image.html">
    <meta name="og:title" content="Title website">
    <meta name="og:description" content="Description website">
    <meta name="og:image" content="../../../../mywebsite.com/image.html">
    <meta name="og:site_name" content="My Website">
    <meta name="og:type" content="website">
    <meta name="twitter:card" content="summary">
    <meta name="twitter:title" content="Title website">
    <meta name="twitter:description" content="Description website">
    <link rel="icon" type="image/png" sizes="32x32" href="favicon.ico">
    <!-- Css -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- <link href="assets/css/plugins/bootstrap.min.css" rel="stylesheet"> -->
    <link href="assets/fonts/font-awesome.min.css" rel="stylesheet">
    <link href="assets/css/plugins/magnific-popup.css" rel="stylesheet">
    <link href="assets/css/plugins/slick.css" rel="stylesheet">
    <!-- Map -->
    <link href="assets/css/plugins/leaflet.css" rel="stylesheet">
    <!-- Style -->
    <link href="assets/css/style.css" rel="stylesheet">
    <link href="assets/css/responsive.css" rel="stylesheet">
    <!-- google fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bungee+Spice&display=swap" rel="stylesheet">

    <style>
        #brand-name {
            font-family: "Bungee Spice", sans-serif;
            font-weight: 400;
            font-style: normal;
            font-size: 30px;
            background-color: #8a5d2a;
        }

        .header .topbar .logo>a {
            display: block;
            height: 100px;
            width: auto;
        }

        div .logoa {
            height: 150px;
            width: 136px;
            padding-top: 0px;
            padding-bottom: 0px;
        }

        .image-fit {
            width: 100%;
            object-fit: cover;
            object-position: center;
            height: 100%;
        }

        @media (min-width: 992px) {
            .navbar-expand-lg .navbar-nav {
                flex-direction: row;
                justify-content: space-around;
            }
        }

        /* bodytr */
        .custom-card {
            background-color: #ffffff;
            border-radius: 15px;
            box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
            transition: transform 0.3s ease;
            height: 300px;
            /* Set a fixed height for the cards */
            padding: 20px;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }

        .custom-card:hover {
            transform: translateY(-5px);
            box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
        }

        .custom-card .icon {
            background-color: #C7A379;
            color: #ffffff;
            border-radius: 50%;
            width: 80px;
            height: 80px;
            font-size: 32px;
            margin: 0 auto;
            /* Center the icon horizontally */
            display: flex;
            align-items: center;
            justify-content: center;
            margin-bottom: 20px;
            /* Add space between icon and text */
        }

        .custom-card:hover .icon {
            background-color: #a8874d;
        }

        .custom-card .text {
            font-size: 18px;
            color: #333333;
            font-weight: 500;
            text-align: center;
        }

        .h-100 {
            height: 100%;
            /* Occupy full height of parent container */
            display: flex;
            flex-direction: column;
        }

        .navbar {
            flex-grow: 1;
            /* Allow the navbar to grow and occupy available space */
        }

        .navbar-nav {
            flex-direction: column;
            /* Align nav items vertically */
        }
    </style>
</head>

<body>
    <!-- Preloader Start -->
    <div class="preloader">
        <img src="assets/images/preloader.svg" alt="preloader">
    </div>
    <!-- Preloader End -->
    <!-- Header Start -->
    <header class="header">
        <!-- Topbar -->
        <div class="topbar">
            <div class="container-fluid">
                <div class="inner">
                    <!-- Logo -->
                    <div class="logo">
                        <a href="#">
                            <div id="brand-name">&nbsp;Y-FURNS</div>
                            <!-- <img src="assets/images/logo.png" class="image-fi" alt="logo" height="100px" width="100px"> -->
                        </a>
                    </div>
                    <!-- Logo -->
                    <!-- Search Form -->
                    <div class="search-form">
                        <form>
                            <!-- Location -->

                            <!-- Location -->
                            <!-- Search -->
                            <div class="input-group">
                                <input type="text" name="#" class="form-control" placeholder="Search for products..."
                                    autocomplete="off" required>
                                <div class="input-group-append input-group-text">
                                    <button type="submit">
                                        <i class="fal fa-search"></i>
                                    </button>
                                </div>
                            </div>
                            <!-- Search -->
                        </form>
                    </div>
                    <!-- Search Form -->
                    <!-- Header Action -->
                    <div class="header_action">
                        <ul>

                            <li class="user">
                                <% if (user) { %>
                                    <a href="#">
                                        <img src="assets/images/header/user.png" class="image-fit" alt="img">
                                        <div class="cart_text">
                                            ADMIN
                                        </div>
                                        <span>
                                            <%= user.username %>
                                        </span>
                                    </a>
                                    <ul class="sub-menu">

                                        <li>
                                            <a href="/adminLogout">Logout</a>
                                        </li>
                                    </ul>
                                    <% } else { %>
                                        <a href="account.html">
                                            <img src="assets/images/header/user2.png" class="image-fit" alt="img">
                                            <span>New User</span>
                                        </a>
                                        <ul class="sub-menu">
                                            <li>
                                                <a href="/adminLogin">Login</a>
                                            </li>

                                        </ul>
                                        <% } %>
                            </li>
                        </ul>
                    </div>
                    <!-- Header Action -->
                </div>
            </div>
        </div>
        <!-- Topbar -->
    </header>
    <!-- Header End -->
    <section class="order-list">
        <div class="container-fluid" style="padding: 0;">
            <div class="row">
                <div class="col-xl-3 col-lg-4">
                    <div class="h-100">
                        <!-- Category Nav Start -->
                        <nav class="navbar navbar-expand-lg navbar-dark justify-content-around"
                            style="background-color: #604220;">
                            <div class="container-fluid d-flex justify-content-around">
                                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
                                    aria-label="Toggle navigation">
                                    <span class="navbar-toggler-icon"></span>
                                </button>
                                <div class="collapse navbar-collapse" id="navbarNav">
                                    <ul class="navbar-nav w-100 d-flex flex-column">
                                        <li class="nav-item my-3 fs-5">
                                            <a class="nav-link" href="#">Home</a>
                                        </li>
                                        <li class="nav-item my-3 fs-5">
                                            <a class="nav-link" href="/usersList">User Management</a>
                                        </li>
                                        <li class="nav-item my-3 fs-5">
                                            <a class="nav-link" href="/productList">Product Management</a>
                                        </li>
                                        <li class="nav-item my-3 fs-5">
                                            <a class="nav-link" href="/categoryList">Category Management</a>
                                        </li>
                                        <li class="nav-item my-3 fs-5">
                                            <a class="nav-link" href="/orderList">Order Management</a>
                                        </li>
                                        <li class="nav-item my-3 fs-5">
                                            <a class="nav-link" href="/salesReport">Sales Report</a>
                                        </li>
                                        <li class="nav-item my-3 fs-5">
                                            <a class="nav-link" href="#">Banner Management</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </nav>
                        <!-- Category Nav End -->
                    </div>
                </div>
                <div class="col-xl-9 col-lg-8">
                    <div class="section-padding mb-0">
                        <div class="container-fluid">
                            <h3 class="title">Hello Admin,</h3>
                        </div>
                    </div>

                    <!-- Section Start -->
                    <div class="section-padding mt-0">
                        <div class="container-fluid">
                            <div class="row justify-content-center">
                                <div class="col-lg-4 col-sm-6 mb-4">
                                    <a href="/productList" class="card-link">
                                        <div class="card h-100 custom-card">
                                            <div class="icon d-flex align-items-center justify-content-center">
                                                <i class="fas fa-box-open"></i>
                                            </div>
                                            <div class="card-body text-center">
                                                <p class="text">PRODUCTS MANAGEMENT</p>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <div class="col-lg-4 col-sm-6 mb-4">
                                    <a href="/orderList" class="card-link">
                                        <div class="card h-100 custom-card">
                                            <div class="icon d-flex align-items-center justify-content-center">
                                                <i class="fas fa-shopping-cart"></i>
                                            </div>
                                            <div class="card-body text-center">
                                                <p class="text">ORDERS MANAGEMENT</p>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <div class="col-lg-4 col-sm-6 mb-4">
                                    <a href="/categoryList" class="card-link">
                                        <div class="card h-100 custom-card">
                                            <div class="icon d-flex align-items-center justify-content-center">
                                                <i class="fas fa-list"></i>
                                            </div>
                                            <div class="card-body text-center">
                                                <p class="text">CATEGORY MANAGEMENT</p>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <div class="col-lg-4 col-sm-6 mb-4">
                                    <a href="/usersList" class="card-link">
                                        <div class="card h-100 custom-card">
                                            <div class="icon d-flex align-items-center justify-content-center">
                                                <i class="fas fa-users"></i>
                                            </div>
                                            <div class="card-body text-center">
                                                <p class="text">USERS MANAGEMENT</p>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <div class="col-lg-4 col-sm-6 mb-4">
                                    <a href="/coupons" class="card-link" aria-label="Coupons Management">
                                        <div class="card h-100 custom-card">
                                            <figure class="icon d-flex align-items-center justify-content-center">
                                                <i class="fas fa-ticket-alt"></i>
                                            </figure>
                                            <figcaption class="card-body text-center">
                                                <p class="card-text">COUPONS MANAGEMENT</p>
                                            </figcaption>
                                        </div>
                                    </a>
                                </div>
                                <div class="col-lg-4 col-sm-6 mb-4">
                                    <a href="#" class="card-link">
                                        <div class="card h-100 custom-card">
                                            <div class="icon d-flex align-items-center justify-content-center">
                                                <i class="fas fa-flag"></i>
                                            </div>
                                            <div class="card-body text-center">
                                                <p class="text">BANNER MANAGEMENT</p>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <div class="col-lg-4 col-sm-6 mb-4">
                                    <a href="/salesReport" class="card-link">
                                        <div class="card h-100 custom-card">
                                            <div class="icon d-flex align-items-center justify-content-center">
                                                <i class="fas fa-chart-line"></i>
                                            </div>
                                            <div class="card-body text-center">
                                                <p class="text">SALES REPORT</p>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>



    <!-- Section End -->

    <!-- Contact Form Start -->

    <!-- Contact Form End -->

    <!-- Copyright Start -->
    <div class="copyright">
        <div class="container-fluid">
            <p class="mb-0">@Copyright 2022. <a href="#" class="thm-color-one">Website.com</a> All Rights Reserved</p>
        </div>
    </div>
    <!-- Copyright End -->
    <!-- Scripts -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js"></script>
    <script src="assets/js/plugins/jquery-3.6.0.min.js"></script>
    <!-- <script src="assets/js/plugins/bootstrap.bundle.min.js"></script> -->
    <script src="assets/js/plugins/slick.min.js"></script>
    <script src="assets/js/plugins/jquery.magnific-popup.min.js"></script>
    <script src="assets/js/plugins/jquery.counterup.min.js"></script>
    <script src="assets/js/plugins/jquery.inview.min.js"></script>
    <script src="assets/js/custom.js"></script>
    <!-- Maps -->
    <script src="assets/js/plugins/leaflet.js"></script>
    <script src="assets/js/map.js"></script>
</body>

</html>